@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

a {
  text-decoration: none;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  overflow: scroll;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
